@import url(./styles/board.css);
@import url(./styles/clue.css);
@import url(./styles/player.css);
@import url(./styles/topSection.css);
@import url(./styles/wheel.css);
@import url(./styles/colors.css);

:root {
    --starting-degree: 0deg;
    --spin-degree: 0deg;
    --ending-degree: 0deg;
}

/* #wheelGrid {
    height: 100vh;
    margin: 0;
    display: grid;
    grid: 10% 50% 10% 30% / repeat(5, 20%);
    grid-template-areas: 
    "title title title title title"
    "board board board wheel wheel"
    "board board board clue guessed"
    "players players players players players";
} */

#gameContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    container: gameContainer / size;
}

h1 {
    font-size: 10cqh;
}

h2 {
    font-size: 8cqh;
}

h3 {
    font-size: 5cqh;
}

label, input, button, select, p, span {
    font-size: 3cqh;
}

/* This is to correct the picker size */
select, ::picker {
    appearance: base-select;
}

option {
    font-size: 1cqh;
}
/* End picker size correction */


.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.flex-col {
    flex-direction: column;
}

.full-width {
    width: 100%;
}