/* Clue container */

#clueContainer {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#clueContainer p {
    margin: 0;
    font-size: 4cqh;
}


#clueContainer p {
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--white);
    padding: 3% 6%;
    border-radius: 1vw;
}