/* Player Stuff */

:root {
    --active-player-border-color: black;
}

#playerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: .5cqw;
}

.player-tile {
    height: clamp(100px, 10cqh, 20vh);
    aspect-ratio: 2;
    border-radius: 1vw;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    margin: 0;
}

.player-tile.active {
    border: 1cqh var(--active-player-border-color) solid;
}

.player-tile p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

p.player-total-score {
    font-size: 1.5cqh;
}

.player-tile.disconnected {
    opacity: .5;
}